<li>
  <label class="item-checkbox item-content">
    <%= f.check_box field_name %>
    <i class="icon icon-checkbox"></i>
    <div class="item-inner">
      <div class="item-title"><%= field_title %></div>
    </div>
  </label>
</li>
