<div class="navbar no-shadow">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="link icon-only panel-open" data-panel="left">
        <i class="icon material-icons">menu</i>
      </a>
    </div>
    <div class="title">쇼옷</div>
    <div class="right">
    </div>
  </div>
</div>
<div class="page-content">
  <div class="block">
    <div class="block-title">
      <%= link_to '캘린더', index_posts_path %>
    </div>
    <div class="block-title">
      <%= link_to '내 패션 모아보기', index_mypage_path %>
    </div>
    <div class="block-title">
      <%= link_to '룩북/타임라인 조회', '#' %>
    </div>
  </div>
</div>
