<!-- <div class="splash-view"> -->
<div class="view view-splash">
  <div class="page-content">
    <div class="splash">
      <div class="splash-media">
        <div class="splash-center">
          <img src="/img/tella_icon.png" alt="" class="splash-logo" style="width: 40%;">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
