<li>
  <a href="<%= post_path(post) %>" class="item-link item-content">
    <div class="item-inner">
      <div class="item-title-row">
        <div class="item-title"><%= post.title %></div>
        <div class="item-after"></div>
      </div>
      <div class="item-subtitle"><%= post.created_at %></div>
      <div class="item-text"><%= post.body %></div>
    </div>
  </a>
</li>
