<%= render 'shared/navbar' %>

<div class="page-content">
  <%= render 'shared/inline_calendar' %>

  <div class="block">
  <div class="block-title">포스트</div>
  <%= link_to '새 글 작성', new_post_path %>
  <div class="list media-list">
    <ul>
      <% @my_posts.each do |post| %>
        <%= render 'list', post: post %>
      <% end %>
    </ul>
  </div>
</div>
