<%= navback @post.title %>
<div class="page-content">

    <div class="block-title">
      <%= @post.title %>
    </div>
    <div class="block">
      <%= simple_format @post.body %>
    </div>


  </div>

</div>
