<div class="card demo-facebook-card">
  <div class="card-header">
    <!-- <div class="demo-facebook-avatar"><img src="http://lorempixel.com/68/68/people/1/" width="34" height="34"/></div> -->
    <div class="demo-facebook-name" style="margin-left:0px;">John Doe</div>
    <div class="demo-facebook-date" style="margin-left:0px;">Monday at 2:15 PM</div>
  </div>
  <div class="card-content card-content-padding">
    <p>What a nice photo i took yesterday!</p>
    <img src="http://placehold.it/300x300" width="100%"/>
    <p class="likes">Likes: 112</p>
  </div>
  <div class="card-footer">
    <a href="#" class="link">Like</a>
  </div>
</div>
